<!DOCTYPE html>
<html>

<HEAD>
  <title>Transpire BUT WITH REACT</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="https://rlv.zcache.com/transgender_pride_flag_lgbt_trans_rainbow_classic_round_sticker-re90acd9eaf944e529aa79b41748bcc93_v9waf_8byvr_400.jpg"
  />
  <link rel='stylesheet' href='styles/styles.css'> </link>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</HEAD>

{{{body}}}

</body>

</html>

<!-- <form action="/postForm" method='post'>
  <input type='text' name='name' placeholder='your name' />
  <input type='submit' value='Submit' />
  </form> -->